<div class = "container">
    <div class = "sub-title">
        Recuperar contraseña
    </div>
    <div>
        <span id="texto_1"> 
            <p>¿Se te olvido? No te preocupes, solo</p>
            <p>tienes que ingresar tu usuario o correo. </p>
        </span>
    </div>
    <form>
       
        <div >
            <input 
            type="text"
            formControlName = "email"
            placeholder="Correo electrónico"
            id="email"
            >
        </div>

        <div id="piso_0">

        </div>

        <button id="boton_recuperar"><p><strong>Recuperar</strong></p></button>
    </form>

    <div>
        <span id="texto_2"> 
            <p>Te debe llegar un correo en algunos minutos.</p>
        </span>
    </div>
</div>
<div id="footer">
    <a id= "contenedor1" target="_blank" href="https://www.instagram.com/">
        <img id= "network1" src= "assets/img/instagram.png" onmouseover="this.src='assets/img/instagram-rosa.png'; "onmouseout="this.src='assets/img/instagram.png';">
    </a>

    <a id= "contenedor2" target="_blank" href="https://twitter.com/">
        <img id = "network2" src= "assets/img/twitter.png" onmouseover="this.src='assets/img/twitter-rosa.png';" onmouseout="this.src='assets/img/twitter.png';">
    </a>

    <a id= "contenedor3" target="_blank" href="https://www.facebook.com/">
        <img id= "network3" src= "assets/img/facebook.png" onmouseover="this.src='assets/img/facebook-rosa.png';" onmouseout="this.src='assets/img/facebook.png';">
    </a>
</div>
