<ul class="navbar">
    <li>
        <figure>
            <img src= "assets/img/logo-candylicious.png">
        </figure>
    </li> 
    <li>
        <a [routerLink] ="['/']" routerLinkActive = "link-active" >Inicio</a>
    </li>
    <li>
        <a [routerLink] ="['/tienda']" routerLinkActive = "link-active">Tienda</a>
    </li>
    <li>
        <a [routerLink] ="['/contacto']" routerLinkActive = "link-active">Contacto</a>
    </li>
    <li>
        <a [routerLink] ="['/about-us']" routerLinkActive = "link-active">Nosotros</a>
    </li>
    <li class = "carrito" style="float: right;" >
        <a  >
            <img src= "assets/img/carrito.png" onmouseover="this.src='assets/img/carrito-rosa.png';" onmouseout="this.src='assets/img/carrito.png';" >
        </a>
    </li>
    <li style="float: right;">
        <a>
            <img src= "assets/img/user.png" onmouseover="this.src='assets/img/user-rosa.png';" onmouseout="this.src='assets/img/user.png';">
        </a>
    </li>
    
</ul>
