*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.botonAtras{
        position: absolute;
        bottom: 5vh;
        width: 10vw;
        height: 10vh;
        left: 3vw;
        background: #D42C32;
        border: 0.1vw solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 2vw;
        text-decoration: none;
        cursor: pointer;
        p{
            position: relative;
            text-align: center;
            color: white;
            font-size: 1.8vw;
        }
}