<div>
    <div id="central">
        <div class="flechas">

        </div>
        <div id="contenedor">
            <div id= "productoCard" *ngFor="let producto of productos">
                <div id="productoImage">

                </div>
                <div id="datos">
                    <h2 id="nombre">{{ producto.nombre }}</h2>
                    <div id="division">
                        <h2 id="categoria">{{ producto.categoria }}</h2>
                        <h2 id="sabor">{{ producto.sabor }}</h2>
                    </div>
                    <!--<ul>
                        <li>{{ producto.$key }}</li>
                        <li>{{ producto.nombre }}</li>
                        <li>{{ producto.categoria }}</li>
                        <li>{{ producto.sabor }}</li>
                        <li>{{ producto.precio }}</li>
                        <a class = "botonEditar" 
                        [routerLink] = "['/producto', producto.$key, 'editar']"> Editar Producto</a>
                    </ul>-->
                </div>
            </div>
        </div>
        <div class="flechas">
            
        </div>
        <app-button id="boton" (click)="functioncall($event)" [label] = "label"></app-button>
    </div>  
</div>