/* Reiniciar valores! */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


#central{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    padding-top: 0vh;
    height: 88vh;
    .flechas{
        width: 5%;
    }
    #contenedor{
        width: 90%;
        height: 85%;
        display: flex;
        justify-content: space-around;
        #productoCard{
            width: 22%;
            background-color: #F0F0F0;
            padding: 5vh 3.5vw;
            border-radius: 5vh;
            .productoImage{
                width: 100%;
                height: 60%;
            }
            #datos{
                width: 100%;
                height: 40%;
                .nombre{
                    width: 100%;
                    height: 30%;
                    font-size: 5vh;
                    color: #E57A7F;
                    text-align: center;
                    text-decoration: none;
                }
                #division{
                    width: 100%;
                    height: 70%;
                    display: flex;
                    justify-content: space-between;
                    #categoria{
                        font-size: 3vh;
                        color: #E57A7F;
                    }
                    #sabor{
                        font-size: 3vh;
                        color: #E57A7F;
                    }
                }
            }
        }
    }
}

#boton{
    background-color: #DB2122;
    position: absolute;
    top: 88%;
    left: 85%;
}

.sidebar {
    height: 95%; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    bottom: 0;
    left: 0;
    background-color:#FFFFFF; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 3em; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #E57A7F;
    display: block;
    transition: 0.3s;
  }

  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    background-color: #E57A7F;
    color: #f1f1f1;
  }


  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #F1BABF;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    position: relative;
    top: 11%;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 1em;}
    .sidebar a {font-size: 18px;}
  }

/*
.productoCard{
    background-color: rgba(196, 196, 196, 0.26);
    position: relative;
    border-radius: 2em;
}

.body{
    position: relative;
}

.botonEditar{
    background-color: rgba(218, 25, 25, 0.92);
}

.botonGuardar{
    position: fixed;
    bottom: 1em; 
    right: 1em;
*/