<p>signup works!</p>
<div class = "container">
    <div class = "sub-title">
        Registrarse
    </div>
    <div>
        <span> 
            Ya tienes tienes una cuenta? 
        </span>
        <a class="link" [routerLink] ="['/login']" routerLinkActive = "link-active" >Iniciar Sesion</a>
    </div>
    <form [formGroup] = "signUpForm" (ngSubmit) = "onSubmit()">
       
        <div id = "text">
            <label class = "text" for="email">Email:</label>
            <input 
            type="text"
            formControlName = "email"
            placeholder="Introduzca su correo electronico"
            id="email"
            >
            
        </div>
        
        <div>
            <label class="text" for="contrasena">Contrasena:</label>
            <input 
            type="text"
            formControlName = "contrasena"
            placeholder="Introduzca su contrasena"
            id="contrasena"
            >
            
        </div>

        <div>
            <label class="text" for="telefono">Telefono:</label>
            <input 
            type="text"
            formControlName = "telefono"
            placeholder="Introduzca su telefono"
            id="telefono"
            >
            
        </div>

        <div>
            <label class="text" for="direccion">Direccion:</label>
            <input 
            type="text"
            formControlName = "direccion"
            placeholder="Introduzca su direccion"
            id="direccion"
            >
            
        </div>
        <button (click) = "onSubmit()">Registrarse</button>
    </form>
    <button (click) = "logInWithGoogle()">LogIn with Google</button>
</div>