<div class = "container">
    <div class = "sub-title">
        Registrarse
    </div>
    <div>
        <span id="texto_1"> 
            ¿Ya tienes tienes una cuenta? 
        </span>
        <a id="link_1" class="link" [routerLink] ="['/login']" routerLinkActive = "link-active" >Inicia sesión</a>
    </div>
    <form [formGroup] = "signUpForm" (ngSubmit) = "onSubmit()">
       
        <div >
            <input 
            type="text"
            formControlName = "nombre"
            placeholder="Nombre"
            id="nombre"
            >
            
        </div>

        <div id="piso_0">

        </div>

        <div >
            <input 
            type="text"
            formControlName = "email"
            placeholder="Correo electrónico"
            id="email"
            >
            
        </div>

        <div id="piso_1">

        </div>
        
        <div>
            <input 
            type="text"
            formControlName = "contrasena"
            placeholder="Contraseña"
            id="contrasena"
            >
            
        </div>

        <div id="piso_2">

        </div>

        <div>
            <input 
            type="text"
            formControlName = "telefono"
            placeholder="Teléfono"
            id="telefono"
            >
            
        </div>

        <div id="piso_3">

        </div>

        <div>
            <input 
            type="text"
            formControlName = "direccion"
            placeholder="Dirección"
            id="direccion"
            >
            
        </div>

        <div id="piso_4">

        </div>

        <button id="boton_registrarse" (click) = "onSubmit()"><p><strong>Registrarse</strong></p></button>
    </form>
    <button id="boton_google" (click) = "logInWithGoogle()"><p>Login with Google</p></button>
</div>
<div id="footer">
    <a id= "contenedor1">
        <img id= "network1" src= "assets/img/instagram.png" onmouseover="this.src='assets/img/instagram-rosa.png'; "onmouseout="this.src='assets/img/instagram.png';">
    </a>

    <a id= "contenedor2">
        <img id = "network2" src= "assets/img/twitter.png" onmouseover="this.src='assets/img/twitter-rosa.png';" onmouseout="this.src='assets/img/twitter.png';">
    </a>

    <a id= "contenedor3">
        <img id= "network3" src= "assets/img/facebook.png" onmouseover="this.src='assets/img/facebook-rosa.png';" onmouseout="this.src='assets/img/facebook.png';">
    </a>
</div>