<div id="body">
    <div id="borde">
        <div id="resto">
            <button class = "botonEliminar"
            (click) = "deleteProducto(producto.$key)"
            *ngIf = 'isAuthenticated'
            >X</button>
            <img src= "{{producto.imagen}}" onerror="this.onerror=null;this.src='assets/img/noImage.png';">  
            <div id="detalles">
                <div id="titulos">
                    <div class="info">Nombre:</div>
                    <div class="info">Sabor:</div>
                    <div class="info">Categoría:</div>
                    <div class="info">Precio:</div>
                    <div class="info">Marca:</div>
                </div>
                <div id="datos">
                    <div class="info">{{ producto.nombre }}</div>
                    <div class="info">{{ producto.sabor }}</div>
                    <div class="info">{{ producto.categoria }}</div>
                    <div class="info">{{ producto.precio }}</div>
                    <div class="info">{{ producto.marca }}</div>
                </div>
            </div>
        </div>
        <div id="desc">
            <div class="info">{{ producto.descripcion }}</div>
        </div>
        <a class = "botonEditar" 
        [routerLink] = "['/producto', producto.$key, 'editar']"
        *ngIf = 'isAuthenticated'
        > Editar Producto</a>
    </div>
</div>