<body id="inicio">
        <h1 id="t_inicio"> Candylicious </h1>
        <p id="p_1">Con nosotros tu vida es</p>
        <p id="p_2">mucho mas dulce.</p>
        <a id="boton_1"><p><strong>Tienda</strong></p></a>

        <img id="img_3" src= "assets/img/img_inicio_3.jpg">
        <img id="img_2" src= "assets/img/img_inicio_2.jpg">
        <img id="img_1" src= "assets/img/img_inicio_1.jpg">
        <div id="cuadro_botones">
            <button id="boton_carrusel_1"></button>
            <button id="boton_carrusel_2"></button>
            <button id="boton_carrusel_3"></button>
        </div>

        <a id= "contenedor1">
            <img class = "network" src= "assets/img/instagram.png" onmouseover="this.src='assets/img/instagram-rosa.png'; "onmouseout="this.src='assets/img/instagram.png';">
        </a>
    
        <a id= "contenedor2">
            <img class = "network" src= "assets/img/twitter.png" onmouseover="this.src='assets/img/twitter-rosa.png';" onmouseout="this.src='assets/img/twitter.png';">
        </a>

        <a id= "contenedor3">
            <img class = "network" src= "assets/img/facebook.png" onmouseover="this.src='assets/img/facebook-rosa.png';" onmouseout="this.src='assets/img/facebook.png';">
        </a>
</body>