<body id = "container">
    <div id="formulario">
        <div id = "sub-title">
            Iniciar sesión
        </div>
        <div class = "link-texto">
            <div class="links">
                <span class="texto"> ¿Aún no tienes una cuenta? </span>
                <a class="link" [routerLink] ="['/signup']">Regístrate</a>
            </div>
            <div class="links">
                <span class="texto"> Inicia sesión con google </span>
                <a class="link" (click) = "logInWithGoogle()">aquí</a>
            </div>
        </div>
        <form id="form" [formGroup] = "logInForm" (ngSubmit) = "onSubmit()">
            <div>
                <input 
                form="email"
                type="text"
                formControlName = "email"
                placeholder="Correo electrónico"
                id="email"
                >
            </div>          
            <div>
                <input
                type="text"
                formControlName = "contrasena"
                placeholder="Contraseña"
                id="contrasena"
                >
                
            </div>
        </form>
        <div class="link-texto">
            <div class="links">
                <span class="texto">¿Olvidaste la contraseña? Recuperala</span>
                <a class="link" [routerLink] ="['/contrasena']">aquí</a>
            </div>
        </div>      
    </div>
</body>
<div id="boton_div">
    <a id="ingresar" (click) = "onSubmit()"><p>Ingresar</p></a>
</div>
<div id="footer">
    <div id="networks">
        <a class = "contenedor" target="_blank" href="https://www.instagram.com/">
            <img id="r_1" class = "network" src= "assets/img/instagram.png" onmouseover="this.src='assets/img/instagram-rosa.png'; "onmouseout="this.src='assets/img/instagram.png';">
        </a>

        <a class = "contenedor" target="_blank" href="https://twitter.com/">
            <img id="r_2" class = "network" src= "assets/img/twitter.png" onmouseover="this.src='assets/img/twitter-rosa.png';" onmouseout="this.src='assets/img/twitter.png';">
        </a>

        <a class = "contenedor" target="_blank" href="https://www.facebook.com/">
            <img id="r_3" class = "network" src= "assets/img/facebook.png" onmouseover="this.src='assets/img/facebook-rosa.png';" onmouseout="this.src='assets/img/facebook.png';">
        </a>
    </div>
</div>