*{
    margin: 0% !important;
    padding: 0%;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    #formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        #sub-title{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 30%;
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: 700;
            font-size: 8vh;
            color:  #E57A7F;
        }
        .link-texto{
            padding-top: 3vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 20%;
            .links{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 4vh;
                color: #E57A7F;
                .texto{
                    padding-right: 1vw;
                }
                .link{
                    font-weight: 700;
                    color: #E57A7F !important;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        #form{
            width: 100%;
            height: 30%;
            padding-top: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .text{
                font-family: Roboto;
                font-style: normal;
                font-size: 4vh;
                color: #E57A7F;
            }
            input{
                width: 35vw;
                height: 7vh;
                border: 0vh;
                border-bottom: 0.5vh solid #EFB0B6;
                font-size: 4vh;
                padding: 0vh;
                color: #E57A7F;
            }
        }
    }
    
}

#ingresar{
    position: absolute;
    top: 75%;
    left: 62%;
    width: 10%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 4vh;
    color: white;
    border-radius: 20px;
    background-color: #DB2122;
    cursor: pointer;
}

#footer{
    width: 100%;
    height: 22%;
    background-color: #F1BABF;
    clip-path: polygon(100% 100%, 0 0%, 0 100%);
    #networks{
        position: absolute;
        top: 87.5%;
        left: 0%;
        width: 30%;
        display: flex;
        justify-content: space-around;
        padding: 0vh 3vw;
        .contenedor {
            border: 0px;
            padding-bottom: 2vh;
            height: 10vh;
            text-align: center; 
            .network{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #container{
        margin-top: 5vw; /*Revisar*/
        #formulario{
            width: 100%;
            height: 60vh;
            #sub-title{
                height: 30%;
                font-weight: 700;
                font-size: 8vw;
            }
            .link-texto{
                padding-top: 3vw;
                height: 20%;
                .links{
                    width: 100%;
                    font-size: 4vw;
                    .texto{
                        padding-right: 1vh;
                    }
                }
            }
            #form{
                width: 100%;
                height: 30%;
                padding-top: 3vw;
                .text{
                    font-size: 4vw;
                }
                input{
                    width: 60vw;
                    height: 7vh;
                    border-bottom: 0.5vw solid #EFB0B6;
                    font-size: 4vw;
                }
            }
        }
        
    }
    
    #ingresar{
        width: 30%;
        height: 8%;
        top: 68%;
        left: 62%;
        font-size: 4vw;
    }

    #footer{
        #networks{
            width: 40%;
            padding: 0vh 3vw;
        }
    }
}