<div id="principal">
    <img id="principalImage" src="assets/img/contacto.jpg">
    <h1 id="contactanos"> Contáctanos </h1>
</div>
<div id="central">
    <div id="formulario">
        <div id="titulo">
            <h1 id="escribenos">¡Escríbenos!</h1>
        </div>
    </div>
    <div id="mapa">
        <div style="height: 80%;">
            <img id="mapaImage" src="assets/img/mapa.jpg">
        </div>
        <div id="iconos" style="height: 20%;">
            <img class="iconos" src="assets/img/telefono.png">
            <img class="iconos" src="assets/img/ubicacion.png">
            <img class="iconos" src="assets/img/mail.png">
        </div>
    </div>
</div>
<div id="footer">

</div>