<body id="contacto">
    <div id="principal">
        <img id="principalImage" src="assets/img/contacto.jpg">
        <h1 id="contactanos"> Contáctanos </h1>
    </div>
    <div id="central">
        <div id="formulario">
            <div id="titulo">
                <h1 id="escribenos">¡Escríbenos!</h1>
            </div>

            <div id="datos">
                <form autocomplete="on" [formGroup] = "mensajeForm" (ngSubmit) = "nuevoMensaje">
                    <input placeholder="Nombre" formControlName = "nombre" type="text" id="nombre" name="nombre" title="Por favor escribe tu nombre" required> <br>
                    
                    <input placeholder="Correo electronico" type="email" id="correo" name="correo" title="Por favor ingresa tu correo" required> <br>

                    <textarea placeholder="Mensaje" formControlName = "mensaje" id="mensaje" name="mensaje" rows="10" cols="30" title="Por favor ingresa tu mensaje, nos importa tu opinion" required></textarea><br>
                    <button  id="boton_enviar" (click) = "nuevoMensaje()"><p><strong>Enviar</strong></p></button>
                </form>
            </div>

        </div>
        <div id="mapa">
            <div style="height: 80%;">
                <img id="mapaImage" src="assets/img/mapa.jpg">
            </div>
            <div id="iconos" style="height: 20%;">
                <a target="_blank" href="https://www.whatsapp.com/?lang=es">
                    <img class="iconos" src="assets/img/telefono.png">
                </a>
                <a target="_blank" href="https://www.google.com/maps/place/Caracas,+Distrito+Capital/@10.4683612,-67.0304525,11z/data=!3m1!4b1!4m5!3m4!1s0x8c2a58adcd824807:0x93dd2eae0a998483!8m2!3d10.4805937!4d-66.9036063">
                    <img class="iconos" src="assets/img/ubicacion.png">
                </a>
                <a target="_blank" href="https://www.gmail.com/mail/help/intl/es/about.html?iframe">
                    <img class="iconos" src="assets/img/mail.png">
                </a>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="networks">
            <a class = "contenedor" target="_blank" href="https://www.instagram.com/">
                <img  id= "r1" class = "network" src= "assets/img/instagram.png" onmouseover="this.src='assets/img/instagram-rosa.png'; "onmouseout="this.src='assets/img/instagram.png';">
            </a>
        
            <a class = "contenedor" target="_blank" href="https://twitter.com/">
                <img id= "r2" class = "network" src= "assets/img/twitter.png" onmouseover="this.src='assets/img/twitter-rosa.png';" onmouseout="this.src='assets/img/twitter.png';">
            </a>

            <a class = "contenedor" target="_blank" href="https://www.facebook.com/">
                <img id= "r3" class = "network" src= "assets/img/facebook.png" onmouseover="this.src='assets/img/facebook-rosa.png';" onmouseout="this.src='assets/img/facebook.png';">
            </a>
        </div>
    </div>
</body>