<div id="carrito">
    <h1 id="titulo">Carrito</h1>
    <form id="form">
        <div>
            <input 
            form="nro_bolsa"
            type="number"
            formControlName = "nro_bolsa"
            placeholder="Nro de bolsa"
            id="nro_bolsa"
            >
        </div>
        <button id="boton_bolsa"><p><strong>Mostrar bolsa</strong></p></button>
    </form>
    <a  style="text-decoration:none" id="boton_comprar" [routerLink] ="['/comprar']">
        <p><strong>Comprar</strong></p>
    </a>
    <p id="precio_total"><strong>0$</strong></p>
    <div id="flecha_izq"></div>
    <div id="producto_1"></div>
    <div id="producto_2"></div>
    <div id="producto_3"></div>
    <div id="flecha_der"></div>
</div>
