/* Reiniciar valores! */
*{
    margin: 0% !important;
    padding: 0%;
    box-sizing: border-box;
}

div{
    left: 0;
}

#descripcion{
    width: 100%;
    height: 100vh;
    background-color: rgba(239, 174, 180, 1);
    h1{
    /* Titulo Nosotros*/
    text-align: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
    font-size: 5vw;
    }
    p{
    /* Parrafo Nosotros*/
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
    }
    #p_1{
    top: 38%;
    left: 50%;
    white-space:nowrap;
    }
    #p_2{
        top: 43%;
        left: 50%;
        white-space:nowrap;
        }
    #p_3{
        top: 52%;
        left: 50%;
        white-space:nowrap;
        }
    #p_4{
        top: 57%;
        left: 50%;
        white-space:nowrap;
        }
    #p_5{
        top: 62%;
        left: 50%;
        white-space:nowrap;
        }
    #p_6{
        top: 67%;
        left: 50%;
        white-space:nowrap;
        }
    #p_7{
        top: 77%;
        left: 50%;
        white-space:nowrap;
        }
    #p_8{
        top: 82%;
        left: 50%;
        white-space:nowrap;
        }
}

#imagenes_1{
    width: 100%;
    height: 100vh;
    background-color: white;
    #img_1{
        width: 44vw;
        height: 78vh;
        position: relative;
        top: 16vh;
        left: 3vw;
    }
    #img_2{
        width: 44vw;
        height: 35vh;
        position: relative;
        top: -27vh;
        left: 6vw;
    }
    #img_3{
        width: 44vw;
        height: 38vh;
        position: relative;
        top: -23vh;
        left: 50vw;
    }
}

#imagenes_2{
    width: 100%;
    height: 78vh;
    #img_4{
        width: 98.7vw;
        height: 100vh;
    }
    #img_5{
        width: 30vw;
        height: 50vh;
        position: absolute;
        top: 224vh;
        right: 10vw;
    }
}

#footer{
    width: 100%;
    height: 22vh;
    background-color: #F1BABF;
    clip-path: polygon(100% 100%, 0 0%, 0 100%);
    clip-path: #000000;
    #contenedor1{
        position: absolute;
        left: 1vw;
        top: 285vh;
    }
    #contenedor2{
        position: absolute;
        left: 8vw;
        top: 286vh;
    }
    #contenedor3{
        position: absolute;
        left: 16vw;
        top: 286vh;
    }

    #network1{
        width: 5vw;
        height: 12.5vh;
    }
    #network2{
        width: 5vw;
        height: 12.5vh;
    }
    #network3{
        width: 4vw;
        height: 11vh;
    }
}
