<body id="nosotros">
    <div id="descripcion">
        <h1 id="t_nosotros"> Nosotros </h1>
        <p id="p_1">¡Hola! Somos Candylicious, la carameleria online que tiene como objetivo sacarte</p>
        <p id="p_2">una sonrisa. Ya que, no hay nada mas dulce que un buen caramelo.</p>

        <p id="p_3">En nuestra tienda, cuentas con un carrito de compra en el cual puedes tener</p>
        <p id="p_4">diversas bolsitas de chucherias desde <strong>50gr</strong> hasta <strong>2kg</strong> cada una. En una misma</p>
        <p id="p_5">bolsita puedes tener diferentes dulces, con la unica condicion de que cada uno</p>
        <p id="p_6">tenga el mismo precio por gramo.</p>
        <p id="p_7">Cuando ya tengas todo lo que desees en tu carrito, solo debes darle pedir, seguir</p>
        <p id="p_8">los pasos indicados y te haremos llegar tu compra hasta la puerta de tu casa.</p>
    </div>
    <div id="imagenes_1">
            <img id="img_1" src="assets/img/img_nosotros_1.jpg">
            <img id="img_2" src="assets/img/img_nosotros_2.jpg">
            <img id="img_3" src="assets/img/img_nosotros_3.jpg">
    </div>

    <div id="imagenes_2">
        <img id="img_4" src="assets/img/img_nosotros_4.jpg">
        <img id="img_5" src="assets/img/logo_fondo.png">
    </div>

    <div id="footer">
        <a id= "contenedor1" target="_blank" href="https://www.instagram.com/">
            <img class = "network" src= "assets/img/instagram.png" onmouseover="this.src='assets/img/instagram-rosa.png'; "onmouseout="this.src='assets/img/instagram.png';">
        </a>
    
        <a id= "contenedor2" target="_blank" href="https://twitter.com/">
            <img class = "network" src= "assets/img/twitter.png" onmouseover="this.src='assets/img/twitter-rosa.png';" onmouseout="this.src='assets/img/twitter.png';">
        </a>

        <a id= "contenedor3" target="_blank" href="https://www.facebook.com/">
            <img class = "network" src= "assets/img/facebook.png" onmouseover="this.src='assets/img/facebook-rosa.png';" onmouseout="this.src='assets/img/facebook.png';">
        </a>
    </div>

</body>
