<div id="metodo_envio">
    <div id="titulo">
        <h1><strong>Método de envío</strong></h1>
    </div>
    <form>
        <select name="Método de envío" id="metodo">
            <option>Pick up</option>
            <option>Delivery</option>
        </select>

        <input 
            type="text"
            formControlName = "direccion"
            placeholder="Dirección"
            id="direccion"
        >

        <input 
            type="text"
            formControlName = "codigo"
            placeholder="Código postal"
            id="codigo"
        >

        <input 
            type="text"
            formControlName = "telefono"
            placeholder="Telefono"
            id="telefono"
        >

        <a style="text-decoration:none" [routerLink] ="['/comprar2']" id="boton_siguiente"><p><strong>Siguiente</strong></p></a>
    </form>
    <p id="p_direccion">
        <strong>Dirección: Caracas.   </strong> 
    </p>
</div>
