*{
    margin: 0% !important;
    padding: 0%;
    box-sizing: border-box;
}

#titulo{
    background-color:rgba(218, 25, 25, 1);
    position: absolute;
    top: 15vh;
    width: 100vw;
    height: 13vh;
    h1{
        position: absolute;
        top: 1vh;
        font-size: 3.5vw;
        left: 35vw;
        color: white;
    }
}

#metodo{
    position: absolute;
    top: 37vh;
    left: 35vw;
    width: 30vw;
    height: 7vh;
    font-size: 5vh;
    color: rgba(219, 80, 85, 1);
    border-top: rgba(255, 255, 255, 0);
    border-left: rgba(255, 255, 255, 0);
    border-right: rgba(255, 255, 255, 0);
    border-bottom: rgba(255, 255, 255, 0);
}

#boton_siguiente{
    width: 18vw;
    height: 10vh;
    background: white;
    border: 0.1vw solid #D42C32;
    box-sizing: border-box;
    border-radius: 2vw;
    position: absolute;
    top: 85vh;
    left: 75vw;
    cursor: pointer;
    p{
        position: relative;
        top: 3vh;
        text-align: center;
        text-decoration: none;
        color:#D42C32;
        font-size: 1.5vw;
    }
}

#p_info{
    color: rgba(218, 25, 25, 1);
    position: absolute;
    top: 80vh;
    left: 30vw;
    width: 50vw;
    height: 5vh;
    font-size: 4vh;
}

#p_info2{
    color: rgba(218, 25, 25, 1);
    position: absolute;
    top: 80vh;
    left: 38vw;
    width: 50vw;
    height: 5vh;
    font-size: 4vh;
}

#resumen{
    position: absolute;
    top: 35vh;
    left: 30vw;
    width: 40vw;
    height: 40vh;
    border-color: rgb(255, 160, 163);
    font-size: 1.5vw;
}